<template>
  <div class="hello">
      <h1>Bank account loaded</h1>
      <p>£{{ amount }}
          <span id="notice_container">
              <span v-if="amount_change === 1">(increased)</span>
              <span v-else-if="amount_change === -1">(decreased)</span>
          </span>
          <span id="status_container">
              <span v-if="update_state === 1">(updated)</span>
              <span v-else-if="update_state === -1">(update failed)</span>
          </span>
      </p>

      <input type="number" min="0" step="1" v-model="to_modify" name="add_amount" id="toModifyContainer">
      <button @click="addAmount" name="addAmountButton" id="addAmountButton">Add</button>
      <button @click="deductAmount" name="deductAmountButton" id="deductAmountButton">Deduct</button>
  </div>
</template>

<script>

    import store from '../store.vuex'

    // used for clearing the timeout stack if function is called again
    let timeoutAmountChange;
    let timeoutUpdateState;

    export default {
      name: 'bank-account',
      props: {
        msg: String
      },
      data() {
        return {
          amount : store.state.amount,
          to_modify : 10,
          amount_change : null,
          update_state : null,
          timeoutContainer : null
        }
      },
      methods : {
        addAmount : function() {
          const old_val = this.amount;
          store.commit('addFunds', { to_add: this.to_modify });
          const new_val = store.state.amount;

          this.checkAmountChanged( new_val, old_val);
          this.amount = new_val;
        },
        deductAmount : function() {
          const old_val = this.amount;
          store.commit('deductFunds', { to_deduct: this.to_modify });
          const new_val = store.state.amount;

          this.checkAmountChanged( new_val, old_val);
          this.amount = store.state.amount;
        },
        checkAmountChanged(val, old_val) {
          clearTimeout(timeoutUpdateState);
          // 1 for updated, -1 if no change
          this.update_state = val !== old_val ? 1 : -1;
          timeoutUpdateState = setTimeout(() => this.update_state = null, 1500);
        }
      },
      watch : {
        amount: function (val, oldVal) {
          // clear the timeout before setting a new one.
          clearTimeout(timeoutAmountChange);
          this.amount_change = val > oldVal ? 1 : -1;
          timeoutAmountChange = setTimeout(() => this.amount_change = null, 1500);
        }
      }
    }
</script>