<template>
    <div>
        <span class="count">{{ count }}</span>
        <button id="increase_button" @click="increment">Increment</button>
        <button id="decrease_button" @click="decrement">Decrement</button>
        <bank-account></bank-account>
    </div>
</template>

<script>

    import BankAccount from './components/BankAccount';
    import store from './store.vuex';

    export default {
      name: 'app',
      components: {
        'bank-account': BankAccount
      },
      data() {
        return {
          count: store.state.count
        }
      },
      methods: {
        increment() {
            store.commit('increment');
            this.count = store.state.count;
        },
        decrement() {
            store.commit('decrement');
            this.count = store.state.count;
        }
      }
    }

</script>